<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="assets/media/favicon.ico" type="image/x-icon">
    <link rel="icon" href="assets/css/images/favicon.ico" type="image/x-icon">
    <title>ui-kit testing</title>
    <link rel="stylesheet" href="assets/css/app.min.css">
  </head>
  <body>
<div class="uk-container uk-margin-large-top">
    <nav class="uk-navbar">

                                <ul class="uk-navbar-nav">
                                    <li class="uk-active"><a href="" class="uk-navbar-nav-subtitle">Active<div>Subtitle</div></a></li>
                                    <li><a href="" class="uk-navbar-nav-subtitle">Item<div>Subtitle</div></a></li>
                                    <!--Drop Down-->
                                    <li class="uk-parent" data-uk-dropdown="" aria-haspopup="true" aria-expanded="false">
                                        <a href="" class="uk-navbar-nav-subtitle">Parent<div>Subtitle</div></a>
                                        <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-bottom" aria-hidden="true" style="top: 40px; left: 0px;" tabindex="">
                                            <ul class="uk-nav uk-nav-navbar">
                                                <li><a href="#">Item</a></li>
                                                <li><a href="#">Another item</a></li>
                                                <li class="uk-parent" data-uk-dropdown="" aria-haspopup="true" aria-expanded="false">
                                                    <a href="" class="uk-navbar-nav-subtitle">Sub Parent</a>
                                                    <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-bottom" aria-hidden="true" style="top: 40px; left: 0px;" tabindex="">
                                                        <ul class="uk-nav uk-nav-navbar">
                                                            <li><a href="#">Sub Item</a></li>
                                                            <li><a href="#">Sub Another item</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>

                                </ul>

                            </nav>
</div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="crossorigin="anonymous"></script>
    <script src="assets/js/app.min.js"></script>
    <script src="assets/js/deps.min.js"></script>


  </body>
</html>
